body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:auto;
    gap: 1rem;
    box-shadow: 2rem;
    border-width: 1rem;
    border-radius: 5px;
}
footer{
    display:flex;
    justify-content:center;
    margin-top:auto;
}

.button-1, .button-2, .button-3{
    padding: 3rem 6rem;
    box-shadow: 1rem;
    border: 2px solid black;
    border-radius: 5px;

}

.result{
    display: flex;
    justify-content: center;
    margin-top: auto;
}
.title{
    text-align: center;
    color:white;
    background-color: gray;
    font-family: soleil, sans-serif;
    font-weight: 300;
    font-style: normal;

}
.wins{
    text-align: center;
}
.gameMoves{
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.player-choice{
    display: flex;
    justify-content: center;
}
.round-winner{
   text-align: center; 
}